<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="${mysql.connect.url}" />
		<property name="username" value="${mysql.connect.username}" />
		<property name="password" value="${mysql.connect.password}" />

		<!-- 配置初始化大小、最小、最大 -->
		<property name="maxActive" value="2000"></property>

		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="20000"></property>

		<property name="validationQuery" value="select 1"></property>
		<property name="testOnBorrow" value="false"></property>
		<property name="testWhileIdle" value="true"></property>
		<property name="testOnReturn" value="false" />

		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
	</bean>
</beans>