package ${config.getProperty("basePackage")}.model;

#if($table.hasBigDecimalColumn())
import java.math.BigDecimal;
#end
#if($table.hasDateColumn())
import java.util.Date;
#end

public class $table.modelName {

#foreach($column in $table.columns)
    public static final String ${column.columnName.toUpperCase()} = "$column.displayName";
#end

#foreach($column in $table.columns)

	/**
	 * $column.remarks
	 */
	private $column.javaType $column.propertyName;
#end
	
#foreach($column in $table.columns)

	public $column.javaType ${column.getter}(){
		return $column.propertyName;
	}
	
	public void ${column.setter}($column.javaType $column.propertyName){
		this.$column.propertyName = $column.propertyName;
	}
#end

	/**
	* The following custom property definition
	*/

}