#set($comment=$name.getTableComment($table))
package ${config.getProperty("basePackage")}.resp;

import java.io.Serializable;
#if($table.hasBigDecimalColumn())
import java.math.BigDecimal;
#end
#if($table.hasDateColumn())
import java.util.Date;
#end

import com.wordnik.swagger.annotations.ApiModel;
import com.wordnik.swagger.annotations.ApiModelProperty;

@ApiModel("$comment")
public class ${name.getMessageClassName($table)} implements Serializable {

	/**   
	 * serialVersionUID
	 */ 
	private static final long serialVersionUID = 1L;

#foreach($column in $table.columns)

	/**
	 * $column.remarks
	 */
	@ApiModelProperty("${column.remarks}")
	private $column.javaType $column.propertyName;
#end

#foreach($column in $table.columns)

	public $column.javaType ${column.getter}(){
		return $column.propertyName;
	}
	public void ${column.setter}($column.javaType $column.propertyName){
		this.$column.propertyName = $column.propertyName;
	}
#end

	/**
	* The following custom property definition
	*/
}