package ${config.getProperty("basePackage")}.constant;

/**
 * @CopyRright (c)2008-2017: <${companyname} >
 * @Project: <mmc>
 * @Comments: $caption
 * @JDK 1.7
 * @Author: <yazhong.qi>
 * @email : <yazhong.qi@163.com>
 * @Create Date: <${nowtime}>
 * @Modify Date: <${nowtime}>
 * @Version: <版本号 1.0>
 */
public enum $class {
	#foreach($element in $list_dict)
$element.dictValue   ((byte) $element.dictId),     // $element.dictName
	#end
	;
	
	private byte value;
	
	$class(byte value){
		this.value = value;
	}

    public byte getValue() {
        return value;
    }

    public static boolean exists(Byte status) {
        if (status == null) {
            return false;
        }
        byte s = status.byteValue();
        return exists(s);
    }

    public static boolean exists(byte s) {
        for ($class element : ${class}.values()) {
            if (element.value == s) {
                return true;
            }
        }
        return false;
    }

    public boolean eq(Byte val) {
        return val == null ? false : val.byteValue() == this.value;
    }
}
