#set($modelClass=$name.getModelClassName($table))
#set($modelVar=$name.getModelVarName($table))
#set($primaryKeyVarName=$code.getVarName($table.primaryKey.memberColumns[0].propertyName))
#set($primaryKeyParameter=$code.getParameters($table.primaryKey.memberColumns))
#set($messageQueryClass=$name.getMessageQueryClassName($table))
#set($messageQueryVar=$name.getMessageQueryVarName($table))
#set($modelQueryClass=$name.getModelQueryClassName($table))
#set($modelQueryVar=$name.getModelQueryVarName($table))
#set($count=$table.columns.size())
<div class="row">
	<form id="${modelVar}FormSearch">
	<table class="formtable">
		<tr>
	#foreach($column in $table.columns)
	#set( $mod1 = $velocityCount % 4 )
	<td>
		<label for="${column.propertyName}">${column.displayName}:</label>
	</td>
	<td>
		<input type="text" name="${column.propertyName}" class="${column.getEasyUIClassForSearch()}" placeholder="${column.displayName}">
    </td>
	#if($mod1 == 0 || $velocityCount == $count)</tr>#end
	#if($mod1 == 0 && $velocityCount < $count)<tr>#end
	#end
	</table>
	<div>
			<a href="javascript:" onclick="search${modelClass}()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
		</div>
	</form>
</div>
<div class="row">
	<div id="${modelVar}TableToolBar">
		<a href="javascript:" onclick="show${modelClass}Dialog()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">新增</a>
	</div>
	<table id="${modelVar}Table" class="easyui-datagrid" style="width:99%">
        <thead>
        <tr>
    		#foreach( $column in $table.columns )
    			<th data-options="${column.getThDataOptions()}">${column.displayName}</th>
			#end
			<th data-options="field:'action',formatter:${modelVar}ActionFormatter">是否删除</th>
        </tr>
        </thead>
    </table>
</div>
<div id="${modelVar}Modal" class="easyui-dialog" title="My Dialog" style="width: 600px; height: 400px;"
	data-options="modal:true,buttons:'#${modelVar}DialogButtons',closed:true">
	<div class="dialog-body">
	<form id="${modelVar}Form" method="post">
		<table class="formtable">
			<tr>
			#foreach($column in $table.columns)
        	#set( $mod1 = $velocityCount % 2 )
        	<td>
        		<label for="${column.propertyName}">${column.displayName}:</label>
        	</td>
        	<td>
        		<input type="text" name="${column.propertyName}" class="${column.getEasyUIClassForEdit()}" ${column.getEasyUIInputOptionForEdit()}  #if(!$column.isEditable()) editable="false" #end />
            </td>
        	#if($mod1 == 0 || $velocityCount == $count)</tr>#end
        	#if($mod1 == 0 && $velocityCount < $count)<tr>#end
        	#end
   		</table>
		<div id="${modelVar}DialogButtons">
			<a href="javascrpt:" id="btnSave${modelClass}" data-options="iconCls:'icon-save'" onclick="submit${modelClass}Form()" class="easyui-linkbutton">确认</a>  
			<a href="javascrpt:" id="backbtn" onclick="close${modelClass}Dialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
		</div>
	</form>
	</div>
</div>
<script>
	var API_BASE_URL = "${rc.contextPath}/${modelVar}/";
	var ${modelVar}Table, ${modelVar}Modal, ${modelVar}Form, ${modelVar}FormSearch,${modelVar}TablePager;

	$(function() {
		${modelVar}Table = $("#${modelVar}Table");
		${modelVar}Modal = $('#${modelVar}Modal');
		${modelVar}Form = $('#${modelVar}Form');
		${modelVar}FormSearch = $('#${modelVar}FormSearch');
		config${modelClass}Form();
		load${modelClass}Table();
		${modelVar}TablePager = ${modelVar}Table.datagrid().datagrid("getPager");
	});

	function load${modelClass}Table() {
		${modelVar}Table.datagrid({
			toolbar:'#${modelVar}TableToolBar',
			pagination : true,//显示分页  
			pageSize : 20,//分页大小  
			pageList : [ 20, 50, 100 ],
			loader : ${modelVar}TableLoader,
			onDblClickRow : show${modelClass}Dialog
		});
	}
	function ${modelVar}TableLoader(param, success, error) {
		var queryParams = ${modelVar}FormSearch.serializeJson();
		queryParams.pageIndex = param.page;
		queryParams.pageSize = param.rows;
		$.ajax({
			type : "post",
			url : API_BASE_URL + "query.html",
			data : queryParams,
			dataType : "json",
			success : function(res) {
				if (res.status == 10000) {
					var result = {};
					result.total = res.data.total;
					result.rows = res.data.records;
					success(result);
				} else {
					$.messager.alert('错误', res.message,"error");
				}
			},
			error : function() {
				error.apply(this, arguments);
			}
		});
	}
	function config${modelClass}Form() {
		${modelVar}Form.form({
			url : API_BASE_URL + "save.html",
			enableValidation : true,
			onSubmit : function() {
				var isValid = $(this).form('validate');
				if (!isValid) {
					$.messager.alert("验证失败", "请修正输入项再试", "warning")
				}
				return isValid; // return false will stop the form submission
			},
			success : function(data) {
				var jsonData = $.parseJSON(data);
				if (jsonData.status == 10000) {
					var title = ${modelVar}Modal.dialog("options").title;
					close${modelClass}Dialog();
					${modelVar}Table.datagrid("reload");
					$.messager.alert("成功", title + "成功", "info");
				} else {
					$.messager.alert("验证失败", jsonData.message, "error");
				}
			}
		});
	}

	function ${modelVar}ActionFormatter(value,row,index){
		return [
				"<a href='javascript:' onclick='delete${modelClass}("+index+")' class=''>删除</a>"
				].join("");
	}
	
	function delete${modelClass}(index) {
		$.messager.confirm('确认', '你确认删除？', function(r) {
			if (r) {
				var rows = ${modelVar}Table.datagrid("getRows");
				var row = rows[index];
				$.post(API_BASE_URL + "delete.html", {
					id : row.id
				}, function(res) {
					if(res.status==10000){
						$.messager.alert("成功","删除成功","info");
						${modelVar}Table.datagrid("reload");
					}
					else{
						$.messager.alert("失败",res.message,"error");
					}
					
				});
			}
		});
	}
	
	function search${modelClass}() {
		${modelVar}TablePager.pagination("select",1);
	}

	function show${modelClass}Dialog(rowIndex, rowData) {
		if (rowData) {
			${modelVar}Modal.dialog({
				title : "编辑应用"
			});
			${modelVar}Form.form('load', rowData);
		} else {
			${modelVar}Modal.dialog({
				title : "新增应用"
			});
			${modelVar}Form.form('clear');
		}
		${modelVar}Modal.dialog("open");
	}

	function close${modelClass}Dialog() {
		${modelVar}Modal.dialog("close");
	}

	function submit${modelClass}Form() {
		${modelVar}Form.submit();
	}
</script>

